.navbar_container {
  padding: 10px 44px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 7px 0px rgb(114 114 114 / 10%);
  padding-bottom: 0px;
  position: relative;
}
.navbar_uppper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarLogo {
  flex: 1;
}
.navbarLogoImage {
  cursor: pointer;
}
.navSearchBar {
  background-color: #f2f2f2;
  height: fit-content;
  border-radius: 24px;
  align-self: center;
  flex: 1;
  height: 45px;
  padding: 0 0 0 24px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.navSearchBar input {
  background: transparent;
  border: 0;
  width: 88%;
  border-right: 1px solid rgba(211, 211, 211, 0.576);
  height: 45px;
  font-size: 16px;
  font-weight: 400;
}

.navSearchBar input::placeholder {
  color: #acb3bc;
}
.navSearchBar input:focus {
  outline: none;
}
.navSearchBar i {
  font-size: 20px;
  cursor: pointer;
}
.navbarButton {
  display: flex;
  flex: 1;
  gap: 19px;
  justify-content: flex-end;
}

.navbarButton button {
  font-size: 15px;
  cursor: pointer;
}

.navbarButton button:nth-child(1) {
  border: none;
  background-color: transparent;
  font-weight: 600;
  color: #6b717e;
}

.navbarButton button:nth-child(2) {
  background-color: #4965e3;
  transition: all 0.4s ease-in-out;
  border-radius: 24px;
  color: white;
  padding: 12px 24px;
  border: none;
}
.navbarButton button:nth-child(2):hover {
  background-color: #2a45bd;
}
@media (max-width: 1250px) {
  .navSearchBar input {
    width: 88%;
  }
  .navbarLogo {
    flex: 0.5;
  }
  .navbarButton {
    flex: 0.5;
  }
}
.navbar_lower {
  display: flex;
  justify-content: space-between;
  padding: 12px 64px;
  padding-top: 24px;
  padding-bottom: 0px;
}
@media (max-width: 1360px) {
  .navbar_lower {
    padding: 12px;
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media (max-width: 1170px) {
  .navbar_container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .navbar_lower {
    padding: 0px;
    padding-top: 24px;
    padding-bottom: 0px;
  }
}

.navbar_lower span {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #6b717e;
  padding: 0 7px;
}
.navItemWrapper {
  position: relative;
  border: 2px solid white;
  padding-bottom: 23px;
}
.navItemWrapper:hover {
  border-bottom: 2px solid #4965e3;
}
.dropdown {
  position: absolute;
  top: 105%;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px;
  display: flex;
  width: max-content;
  flex-direction: column;
}

.dropdown span {
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  color: #706d6d;
  padding: 8px;
}

.dropdown span:hover {
  background-color: #ededee;
}

.Moredropdown {
  position: absolute;
  top: 105%;
  right: 0;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px;
  display: flex;
  width: max-content;
  flex-direction: row;
  gap: 24px;
  height: 340px;
}
.Moredropdown .arrowCont span {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  color: #706d6d;
  padding: 8px;
}
.Moredropdown .arrowCont:hover {
  background-color: #ededee;
}
.arrowCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 6px;
  cursor: pointer;
}
.dropdownLeft {
  display: flex;
  flex-direction: column;
  gap: 6x;
  border-right: 1px solid lightgray;
  padding: 12px;
}
.dropdownLeft .arrowCont i {
  font-size: 14px;
  margin-left: 24px;
  padding-right: 12px;
}
.dropdownRight {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  width: 350px;
}
.rightCols {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.rightColsData {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.dropdownRightHeading {
  color: #959597;
  font-size: 12px;
  letter-spacing: 0.02em;
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 10px;
}
.dropdownRightEndingContainer {
  display: flex;
  gap: 7px;
  align-items: center;
}
.dropdownRightEndingContainer i {
  font-size: 14px;
  color: #000;
}
.dropdownRightEnding {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
  color: #484848;
}

/* Mobile navbar */

@media (max-width: 1100px) {
  .navbar_container {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
  }
  .navbar_uppper .navSearchBar,
  .navbar_uppper .navbarButton {
    display: none;
  }
  .navbar_lower {
    display: none;
  }
}

.mobileNavbarContainer {
  position: fixed;
  z-index: 10000;
  right: 0px;
  left: 0px;
  width: 100%;
  background-color: #000000a8;
  height: 100vh;
  margin-top: 0px;
  padding-top: 0px;
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
}
@media (min-width: 1101px) {
  .mobileNavbarContainer {
    display: none;
  }
  .mobileNavbarButton {
    display: none;
  }
}

.mobileNavbarContainer .navSearchBar i {
  position: relative;
  left: -12px;
  font-size: 15px;
}

.mobileNavbarContainer .navSearchBar input::placeholder {
  font-size: 14px;
}

.mobileNavbarContainer .navbarButton {
  padding: 24px 0px;
  flex-direction: column;
}
.mobileNavbarContainer .navItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #f0f0f2;
  padding-bottom: 16px;
  margin-bottom: 10px;
}

.mobileNavbar {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  overflow-y: scroll;
  animation-name: slideInFromLeft;
  animation-duration: 0.65s; /* Adjust the time as needed */
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.mobileNavbar::-webkit-scrollbar {
  display: none;
}
.mobileNavbarImageContianer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.mobileNavbarImageContianer i {
  font-size: 18px;
  cursor: pointer;
}
.mobileNavbarButton button {
  background-color: white;
  border: none;
}
.mobileNavbarButton i {
  font-size: 20px;
}

.dropdownSpan {
  font-size: 14px;
  margin-left: 12px;
}

/* animation */
@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
